/*-- DrLeonardo styles refactor --*/

@import "../styles/global.css";
@import "../styles/variables.css";

/*-- Блок диалога --*/
.dialog {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 10px;
}

/*-- Текст диалога --*/
.dialogText {
    -fx-font-size: 12px;
    -fx-font-family: "Gilroy-Medium";
    -fx-text-align: left;
    -fx-text-fill: #fff;
    -fx-opacity: 0.5;
}

.headingDialog {
    -fx-text-fill: #fff;
    -fx-font-family: "Gilroy-Bold";
    -fx-font-size: 20px;
    -fx-text-align: left;
}

#apply {
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('../images/buttons/dialog/apply.png');
}
#apply:hover {
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('../images/buttons/dialog/apply_hover.png');
}
#apply:pressed {
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('../images/buttons/dialog/apply_pressed.png');
}

#deny {
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('../images/buttons/dialog/deny.png');
}
#deny:hover {
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('../images/buttons/dialog/deny_hover.png');
}
#deny:pressed {
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('../images/buttons/dialog/deny_pressed.png');
}

/*-- Ввод данных --*/
#dialogInput {
    -fx-background-color: -fx-whiteG;
    -fx-background-radius: 0 0 20 20;
    -fx-font-size: 14px;
    -fx-padding: 0 0 0 10px;
    -fx-text-fill: -fx-header;
    -fx-font-weight: bold;
    -fx-cursor: text;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.1, 0.0, 0.0);
}
#dialogInput:focused {
    -fx-text-fill: -fx-black2C;
}
.InputError {
    -fx-background-radius: 0;
    -fx-background-color: -fx-whiteG;
    -fx-text-fill: -fx-red;
}

/*-- DrLeonardo styles refactor --*/
